@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand> {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
*{
    margin: 0;
    padding: 0;
}
 body{
    font-family: Quicksand;
 } 

 /* strt share style */
 .nab{
    font-size: 1.2rem;
    font-weight: 500;
 }
.a{
    color: blue;
}
.b{
    color: red;
}
.c{
    color: aqua;
}
.d{
    color: brown;
}
.titles-p{
    font-weight: 500;
    font-size: 1rem;
    color: hsla(0,0%,51%,1);
    margin: 0px 40px 38px 40px;
}
.titles-pp{
    font-size: 1rem;
    font-weight: 700;
    color: hsla(201,100%,69%,1);
    text-align: center;
    margin-bottom: 80px;
}
.p2{
    color: hsla(42,100%,47%,1);
}
.p3{
    color: hsla(271,100%,51%,1);
}
/* end share style */




/* navbar start */
.icon-main{
    display: flex;
    gap: 11px;
}
ul{
    display: flex;
    gap: 32px;
    list-style: none;
}
.nav-container{
    display: flex;
   justify-content: space-evenly;
    margin-top: 20px;
   
}
.school{
    font-weight: 700;
    font-size: 2rem;
    margin-top: 8px;
}
.btn{
    background-color: hsla(38,99%,51%,1);
    padding: 10px;
    width: 197px;
    height: 50px;
    border: none;
    border-radius: 12px;
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
}
.hrr{
    display: none;
}
.mobile-container{
    display: none;
}
/* navbar end */


/* start banner */
.banner-container{
    display: flex;
    /* gap: 500px; */
    /* margin: 24px 180px 50px 180px; */
    justify-content: space-evenly;
   
}
.title-banner{
    margin-top: 125px;
}
.banner-h{
    font-size: 3.5rem;
    font-weight: 700;
}
.banner-p{
    font-weight: 400;
    font-size: 1.2rem;
    color: hsla(0,0%,7%,1);
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
.banner-title-color1{
    color: hsla(38,99%,51%,1);
}
.banner-title-color2{
    color: hsla(199,99%,49%,1);
}
/* banner end */

/* Start Standard Curriculum */

.Curriculum-bg{
   background-image: url("./assets/bg.png");
}
.Curriculum-title{
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 80px;
    margin-top: 60px;
}

.card-container{
    display: flex;
    gap: 40px;
    margin-left: 320px;
    margin-right: 220px;
    margin-bottom: 50px;
}
.row{
    width: 367px;
    height: 476px;
    border: 1px solid rgb(242, 232, 255);
    border-radius: 18.86px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(238, 225, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
.row1{
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(222, 245, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255); 
}
.row2{
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
background: linear-gradient(180.00deg, rgb(255, 244, 220),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
.row img{
    margin: 52px 117px 32px 117px;
}
.titles{
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 33px;
    margin: 0px 78px 33px 78px;
}
/* icon strt */
.icon-container{
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-bottom: 60px;
}
.aa{
    width: 80px;
    background-color: hsla(38,99%,51%,1);
    border-radius: 50%;

}
.aa img{
    width: 100%;
    
}
/* start Our Stories */


/* end Our Stories */


/* start footer */
footer{
    background-color: hsla(199,99%,49%,1);
}
.footter-container{
    display: flex;
    justify-content: space-between;
    margin-left: 150px;
    margin-right: 228px;
    padding-top: 123px;
    padding-bottom: 174px;
}

.footer-titel{
    display: flex;
    gap: 11px;
}
.last-icon{
    display: flex;
}
.hh{
    margin-bottom: 23px;
    color: white;
}
.pp{
    color: hsla(0,0%,101%,1);
    font-size: 1.2rem;
}
.footer-ul{
    flex-direction: column;
    color: white;
}
.last-h{
    margin-bottom: 32px;
}
.im{
    margin-left: 10px;
}
.about{
    font-size: 1.5rem;
    font-weight: 500;
}



/* strt 576px size */

@media screen and (max-width:576px) {
    /* footer strt */
    .footter-container{
        flex-direction: column;
        margin-left: 20px;
        
    }
    .footer-ul{
        margin-top: 50px;
    }
    .rd-row{
    margin-top: 50px;
    }
    /* Start Standard Curriculum */
    .icon-container{
        display: none;
    }
    .titles{
        margin-bottom: 10px;
    }
    .row{
        width: 357px;
    }
    .card-container{
        flex-direction: column;
        margin-right: 0px;
        margin-left: 0px;
        align-items: center;
    }
    
   /* nav */

     .nav-container{
        display: none;
       
     }
     .hrr{
        display: block;
        border: 0.5px solid rgb(254, 163, 1);
        
     }
     .mobile-container{
        display: flex;
        justify-content: space-between;
        margin-bottom: 12px;
     }
     .menu{
        
        width: 50px;
     }
     .menu img{
        width: 100%;
        padding-top: 5px;
     }
     /* navbar end */

     /* strt banner */
     .banner-container{
        flex-direction: column-reverse;
        margin: 0px;
        gap: 20px;
        align-items: center;
        
     }
    
     .title-banner{
        margin-top: 10px;
        align-items: center;
      
    }
    .Curriculum-title{
        font-size: 1.5rem;
    }

    .banner-img{
        max-width: 300px;
        display: flex;
    }
    .banner-img img{
        width: 100%;
    }
    
    .banner-h{
        font-size: 2rem;
        text-align: center;
    }
    .banner-p{
        font-size: 0.9rem;
        text-align: center;
    }
    .btnn{
        display: grid;
    }
    .button-1{
       margin: auto;
       background-color: rgb(214, 201, 11);
    }
}