@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand> {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

 body{
    font-family: Quicksand;
 } 

 /* strt share style */
 .nab{
    font-size: 1.2rem;
    font-weight: 500;
 }
.a{
    color: blue;
}
.b{
    color: red;
}
.c{
    color: aqua;
}
.d{
    color: brown;
}
/* end share style */




/* navbar start */
.icon-main{
    display: flex;
    gap: 11px;
}
ul{
    display: flex;
    gap: 32px;
    list-style: none;
}
.nav-container{
    display: flex;
    justify-content: space-around;
   
    margin-top: 20px;
    margin-left: 200px;
    margin-right: 200px;
}
.school{
    font-weight: 700;
    font-size: 2rem;
    margin-top: 8px;
}
.btn{
    background-color: hsla(38,99%,51%,1);
    padding: 10px;
    width: 197px;
    height: 50px;
    border: none;
    border-radius: 12px;
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
}
.hrr{
    display: none;
}
.mobile-container{
    display: none;
}
/* navbar end */


/* start banner */
.banner-container{
    display: flex;
    gap: 400px;
    margin: 24px 350px 50px 350px;
}
.title-banner{
    margin-top: 125px;
}
.banner-h{
    font-size: 3.5rem;
    font-weight: 700;
}
.banner-p{
    font-weight: 400;
    font-size: 1.2rem;
    color: hsla(0,0%,7%,1);
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
.banner-title-color1{
    color: hsla(38,99%,51%,1);
}
.banner-title-color2{
    color: hsla(199,99%,49%,1);
}



/* strt 576px size */
@media screen and (max-width:576px) {
   
     .nav-container{
        display: none;
       
     }
     .hrr{
        display: block;
        border: 0.5px solid rgb(254, 163, 1);
        
     }
     .mobile-container{
        display: flex;
        justify-content: space-between;
        margin-bottom: 12px;
     }
     .menu{
        /* height: 100px; */
        width: 50px;
     }
     .menu img{
        width: 100%;
        padding-top: 5px;
     }
     /* navbar end */

     /* strt banner */
     .banner-container{
        flex-direction: column-reverse;
        margin: 0px;
        gap: 20px;
        align-items: center;
        
     }
    
     .title-banner{
        margin-top: 10px;
        align-items: center;
      
    }

    .banner-img{
        max-width: 300px;
        display: flex;
    }
    .banner-img img{
        width: 100%;
    }
    
    .banner-h{
        font-size: 2rem;
        text-align: center;
    }
    .banner-p{
        font-size: 0.9rem;
        text-align: center;
    }
    .btnn{
        display: grid;
    }
    .button-1{
       margin: auto;
       background-color: rgb(214, 201, 11);
    }
}