.color{
    background: url(./assets/bg.png),linear-gradient(0.00deg, rgba(254, 163, 1, 0.3),rgba(255, 255, 255, 0.3) 100%);
 
}
.story-title{
    margin-top: 60px;
    margin-bottom: 80px;
    text-align: center;
    font-weight: 700;
    font-size: 2.9rem;
}
.first-colomn{
    width: 540px;
    border-radius: 16px;
    background-color: rgb(223, 219, 219);
  
}
.first-colomn img{
    border-radius: 16px 16px 0px 0px;
}
.first-p{
    background-color: hsla(185,78%,57%,1);
    border-radius: 48px;
    padding: 14px;
    text-align: center;
    font-weight: 500;
    font-size: 1rem;
    width: 174px;
    position: relative;
    left: 39px;
    top: -45px;
    color: white;
}
.first-h{
    font-size: 1.5rem;
    font-weight: 700;
    color: hsla(0,0%,1%,1);
    margin-left: 38px;
    margin-bottom: 31px;
    margin-top: -20px;
}
.last-p{
    font-size: 1rem;
    font-weight: 500;
    margin-left: 38px;
    color: hsla(0,0%,41%,1);
    padding-bottom: 34px;
}
/* first card end */
.grid-h2{
    font-size: 1rem;
    font-weight: 700;
    margin-left: 38px;
    padding-bottom: 33px;
    margin-top: -33px;
}
.grid-1{
    background-color: rgb(223, 219, 219);
    width: 291px;
    border-radius: 16px;
}
.grid-1 img{
    border-radius: 16px 16px 0px 0px;
}
/* grid */
.grid-container{
    display: flex;
    gap: 20px;
}